/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body {
  background-color: #fafafa;
  font-size: 14px;
}

.container {
  max-width: 1010px;
}

.my-img-thumbnail {
  padding: 0.15rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  /* max-width: 100%; */
  height: auto;
}

.options li:not(:first-child) {
  margin-left: 30px;
}

#wrapper {
  margin-top: 130px;
}

.post-profile-pic {
  width: 30px;
  height: 30px;
}

.history-profile-pic {
  width: 50px;
  height: 50px;
}

a,
a:hover {
  text-decoration: none;
}

hr {
  border-top: 1px solid #efefef;
  height: 1px;
  margin: 12px 0 12px;
  width: 100%;
}

.no-outline,
.no-outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

textarea.no-outline {
  resize: none;
}

.card-title {
  font-weight: 500 !important;
  color: #999;
}

.text-title {
  font-weight: 600;
}

.text-subtitle {
  font-size: 12px;
}

.text-history-subtitle {
  font-size: 10px;
}

.search-form {
  min-width: 125px;
  width: 215px;
}

.stretch {
  width: 100% !important;
}

.logo {
  width: 120px;
  /* padding-left: 15px; */
}

i:hover {
  cursor: pointer;
}

.profile-picture {
  width: 154px;
  height: 154px;
}

.big-light-text {
  font-weight: 200;
  font-size: 32px;
}

button.nohover:hover,
button.nohover:focus {
  background-color: #fafafa !important;
  box-shadow: 0 0 0 0.2rem rgba(253, 253, 253, 0.25) !important;
}

.profile-stats {
  font-size: 16px;
}

.profile-bold {
  font-weight: 600 !important;
}

a,
a:visited {
  color: #003569;
  text-decoration: none;
}

.followed {
  font-size: 12px;
  color: #999;
  font-weight: 500;
}

.follower {
  color: #003569;
}

ul.histories li {
  width: 130px;
}

div.profile-history {
  width: 77px;
  height: 77px;
}

div.history-subtitle {
  font-weight: 600;
  padding-top: 15px;
}

a.noborder {
  background-color: #fafafa !important;
  box-shadow: 0 0 0 0.2rem rgba(253, 253, 253, 0.25) !important;
  border: none;
}

.history-media {
  border-top: 1px solid #efefef;
}

.history-media .active,
.history-media .active:hover {
  border-top: 1px solid #262626 !important;
  color: #262626;
}

.history-media > a {
  font-size: 12px;
  font-weight: 600;
  color: #999;
  letter-spacing: 1px;
  border-top: 1px solid #efefef;
  margin-right: 60px;
  margin-top: -1px;
  border-radius: 0;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;
}

.image-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image-cover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.image-cover:hover .invisible {
  visibility: visible !important;
}
